:root {
  --text: #657b83;
  --text-h: #393939;
  --bg: #fdf6e3;
  --card-bg: #f0eada;
  --card-bg-hover: #e6dece;
  --border: #eae8d8;

  --display: 'Gasoek One', sans-serif;
  --sans: 'Geist', sans-serif;
  --heading: 'Geist', sans-serif;
  --serif: 'EB Garamond', serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 16px/155% var(--sans);
  letter-spacing: 0.01em;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme='dark'] {
  --text: #839496;
  --text-h: #93a1a1;
  --bg: #002b36;
  --card-bg: #073642;
  --card-bg-hover: #0d4452;
  --border: #073642;
}

body {
  margin: 0;
  transition: background 0.25s, color 0.25s;
}

